body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background: linear-gradient(120deg, #4caf50, #388e3c);
    color: white;
    text-align: center;
    padding: 70px 20px;
    clip-path: ellipse(100% 100% at 50% 0%);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    max-width: 1400px;
    height: 400px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    flex-wrap: wrap;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 2rem;
    color: #4caf50;
    margin-bottom: 20px;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 50px;
    float: left;
}

section img {
    width: 180px;
    height: 250px;
    margin: 20px;
    object-fit: contain;
}

section h3 {
    font-size: 1.2rem;
    color: #4caf50;
    margin: 10px;
    text-align: left;
}

section h3 span {
    font-size: 1rem;
    color: #555;
}

.enroll-button {
    padding: 15px 30px;
    margin-top: 50px;
    background-color: #4caf50;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.enroll-button:hover {
    background-color: #388e3c;
    transform: translateY(-5px);
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    clip-path: ellipse(100% 100% at 50% 0%);
    clear: both;
}

footer p {
    margin: 0;
}

@media (max-width: 960px) {
    header h1 {
        font-size: 2rem;
    }

    main h2 {
        font-size: 1.5rem;
    }

    main {
        height: 1000px;
    }

    section img {
        width: 90%;
    }

    .enroll-button {
        font-size: 1rem;
    }
}