body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background: linear-gradient(120deg, #4caf50, #388e3c);
    color: white;
    text-align: center;
    padding: 70px 20px;
    clip-path: ellipse(100% 100% at 50% 0%);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    max-width: 1400px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 2rem;
    color: #4caf50;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="file"],
select {
    width: 99%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #388e3c;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    clip-path: ellipse(100% 100% at 50% 0%);
}

footer p {
    margin: 0;
}