body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background: linear-gradient(120deg, #4caf50, #388e3c);
    color: white;
    text-align: center;
    padding: 70px 20px;
    clip-path: ellipse(100% 100% at 50% 0%);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    max-width: 1400px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 2rem;
    color: #4caf50;
    margin-bottom: 20px;
}

.course-details {
    margin-bottom: 30px;
}

.module-list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.module-list li {
    flex: 1;
    text-align: center;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 15px 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    height: 60px;
    transition: transform 0.3s;
}

button:hover {
    background-color: #388e3c;
    transform: translateY(-5px);
}

.video-section {
    margin-bottom: 30px;
}

.course-video {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.comments-section {
    margin-top: 30px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

textarea {
    width: 98%;
    height: 70px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

button#submit-comment {
    background-color: #4caf50;
    color: white;
    padding: 15px 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 120px;
    height: 50px;
    font-size: 1rem;
    align-self: flex-end;
    margin: 15px;
    transition: transform 0.3s;
}

button#submit-comment:hover {
    background-color: #4caf50;
    transform: translateY(-5px);
}

#comments-list .comment {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
}

.comment-author {
    font-weight: bold;
    color: #388e3c;
    margin-right: 10px;
}

.comment-text {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    clip-path: ellipse(100% 100% at 50% 0%);
}

footer p {
    margin: 0;
}

@media (max-width: 720px) {
    header h1 {
        font-size: 2rem;
    }

    main h2 {
        font-size: 1.5rem;
    }

    button {
        height: 45px;
    }

    .course-video {
        height: 250px;

    }

    .module-list {
        flex-direction: column;
    }

    .module-list li {
        width: 100%;
    }

}